/* CSS Reset */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* Variables */
@font-face {
  font-family: 'Dream Avenue'; /*a name to be used later*/
  src: url('dream-avenue.ttf'); /*URL to font*/
}

:root {
  --main-bg: #e4e2dd;
  --main-text: black;
}

/* Globals */

body {
  background-color: var(--main-bg);
  color: var(--main-text);
  font-family: 'Quicksand', sans-serif;
  margin: 0 auto;
}

h1 {
  font-family: 'Dream Avenue';
  font-size: 3em;
  font-weight: lighter;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}

h3 {
  font-size: 1.25em;
}

p {
  font-size: 1em;
}

/* Page */
section {
}

/* Hero */
.hero__bg {
  position: absolute;
  z-index: -1;
  opacity: 60%;
  height: 450px;
  overflow: hidden;
  /* object-fit: cover;
  object-position: 25% 25%; */
}

.hero__bg-image {
}

.hero__title {
  padding: 3rem 1rem;
}
