.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.hero__left {
    flex: 2;
}

.hero__right {
    flex: 1;
}


.image {
    width: 325px;
    height: 325px;
    background-color: burlywood;
}

.instructors {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gutter)
}

.instructor__image {
    flex: 1;
    width: 325px;
    height: 325px;
    background-color: burlywood;
}

.instructor {
    flex: 1;
    display: grid;
    gap: 1.5rem;
}



