.title {
  background-image: url('../images/school-beds.png');
  background-size: cover;
  background-color: #e4e2ddf1;
  background-blend-mode: soft-light;
}

.story {
  padding-top: var(--fluid-space-y);
}

.meet {
  background-color: var(--secondary-bg);
  padding-bottom: var(--fluid-space-y);
}

.instructors {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter);
}

.instructor__image {
  flex: 1;
  border-radius: 10px;
  min-width: 300px;
}

.instructor {
  flex: 1;
  display: grid;
  gap: 1.5rem;
}
