.title {
  background-image: url('../images/contact-title-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e4e2dd9d;
  background-blend-mode: soft-light;
}

.inquiry__container {
  --padding-outer: 1rem;
  --padding-inner: 2rem;

  display: flex;
  flex-wrap: wrap;
  padding: var(--padding-outer);
  margin: 4rem 0;
  background-color: var(--secondary-bg);
  border-radius: var(--main-br);
}

.inquiry__header {
  flex: 1;
  min-height: 450px;
  padding: var(--padding-inner);
  background-color: var(--tertiary-bg);
  background-image: url('../images/contact-header-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--main-br);
}

.inquiry__form {
  flex: 2;
  display: grid;

  padding: var(--padding-inner);
  gap: 1.25rem;
}

.block {
  display: block;
}

.input {
  border: none;
  border-radius: 5px;
  background-color: var(--lightest);
  padding: 0.5rem;

  &:focus-visible {
    outline: 2px var(--accent) solid;
  }
}

.radio-group {
  all: unset;
}

.radio {
  accent-color: var(--accent);
}
