hr {
  margin: var(--fluid-space-y) 0;
  height: 5px;
  background-color: var(--accent);
  border-radius: 10px;
  border: none;
}

.title {
  background-image: url("../images/courses-title-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6); /* darkness level */
  background-blend-mode: multiply;
}

.flexible {
  padding-top: var(--fluid-space-y);
}

.hybrid {
  margin-top: 24px;
}

.courses {
  background-color: var(--secondary-bg);
  padding-bottom: var(--fluid-space-y);
}

.esthetics {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter);
}

.cta {
  margin-top: var(--gutter);
}

.esthetics__left {
  display: flex;
  flex-direction: column;
  gap: var(--gutter);
  max-width: 600px;
}

.esthetics__bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.esthetics__right {
  flex: 1;

  img {
    border-radius: 10px;
    min-width: 325px;
  }
}

.masters {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: var(--gutter);
}

.masters__left {
  display: flex;
  flex-direction: column;
  gap: var(--gutter);
  max-width: 600px;
}

.masters__bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.masters__right {
  flex: 1;

  img {
    border-radius: 10px;
    min-width: 325px;
  }
}

/* kit*/

.kit-container {
}

.kit-items {
  background-color: white;
}

.kit {
  background-color: grey;

  height: 50px;
  width: 50px;
  border-radius: 2px;

  display: flex;
  flex-direction: column;
}

.kit-body {
  border-top: black 2px solid;
  flex: 1;
}

.kit-flap {
  z-index: 1;
  height: 4px;
  flex: 1;

  background-color: grey;
  border-radius: 2px;
}

.kit-flaps {
  display: flex;
}

.kit-flap-left {
  transition: transform 0.3s ease-in-out;
  transform-origin: 2px;
}

.kit-spacer {
  background-color: black;
  width: 2px;
  transition: transform 0.3s ease-in-out;
}

.kit-flap-right {
  transition: transform 0.3s ease-in-out;
  transform-origin: calc(100% - 2px);
}

.kit-container.open {
  .kit-flap-left {
    transform: rotate(-125deg);
  }

  .kit-spacer {
    transform: scaleX(25);
  }

  .kit-flap-right {
    transform: rotate(125deg);
  }
}
