hr {
  margin: var(--fluid-space-y) 0;
  height: 5px;
  background-color: var(--accent);
  border-radius: 10px;
  border: none;
}

.title {
  background-image: url('../images/courses-title-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e4e2dd9d;
  background-blend-mode: soft-light;
}

.flexible {
  padding-top: var(--fluid-space-y);
}

.courses {
  background-color: var(--secondary-bg);
  padding-bottom: var(--fluid-space-y);
}

.courses__header {
  margin-bottom: var(--fluid-space-y);
}

.esthetics {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter);
}

.cta {
  margin-top: var(--gutter);
}

.esthetics__left {
  display: flex;
  flex-direction: column;
  gap: var(--gutter);
  max-width: 600px;
}

.esthetics__bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.esthetics__right {
  flex: 1;

  img {
    border-radius: 10px;
    min-width: 325px;
  }
}

.masters {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: var(--gutter);
}

.masters__left {
  display: flex;
  flex-direction: column;
  gap: var(--gutter);
  max-width: 600px;
}

.masters__bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.masters__right {
  flex: 1;

  img {
    border-radius: 10px;
    min-width: 325px;
  }
}
