/* Hero */
.hero {
  background-image: url("../images/hero-bg.jpeg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5); /* darkness level */
  background-blend-mode: multiply;
}

.hero__content {
  display: grid;
  justify-items: center;
}

.hero__title {
  text-align: center;
  margin-bottom: 2rem;
}

.hero__cta {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  color: var(--lightest);
}

/* Intro */
.intro {
  padding-top: var(--fluid-space-y);
}

/* Why */
.why {
  background-color: var(--secondary-bg);
}

/* Offerings */
.offerings {
  background-color: var(--tertiary-bg);
  padding-bottom: var(--fluid-space-y);
}

.offerings__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  gap: var(--gutter);
}
