/* CSS Reset */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* Variables */
@font-face {
  font-family: 'Dream Avenue'; /*a name to be used later*/
  src: url('../fonts/dream-avenue.ttf'); /*URL to font*/
}

:root {
  --beige-100: #f5f5f3;
  --beige-200: #e4e2dd;
  --beige-300: #dbd9d2;
  --beige-400: #d3cfc7;
  --beige-500: #c1bdb1;

  --black: #000000;

  --gold: #977a1c;

  /* Colors */
  --main-bg: var(--beige-200);
  --secondary-bg: var(--beige-400);
  --main-text: var(--black);
  --accent: var(--gold);
  --border-dk: var(--black);

  /* Spacing */
  --gutter: 2rem;
  --padding: var(--gutter);
  --content-width: 1200px;

  /* Other */
  --main-br: 15px;
  --font: clamp(1.0063rem, 0.9424rem + 0.2556vw, 1.15rem);
}

/* Globals */
body {
  background-color: var(--main-bg);
  color: var(--main-text);
  font-family: 'Quicksand', sans-serif;
  margin: 0 auto;

  font-size: var(--font);
}

h1 {
  font-family: 'Dream Avenue';
  font-size: 3em;
  font-weight: 400;
}

h2 {
  font-family: 'Dream Avenue';
  font-weight: 500;
  font-size: 2.5em;
}

h3 {
  font-size: 1.25em;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  all: unset;
}

section {
  display: grid;
  gap: 1.5rem;
}

address {
  font-style: normal;
}

.content span {
  color: var(--accent);
  font-weight: 600;
}

/* Utilty */
.card {
  display: flex;
  flex-direction: column;
  gap: var(--gutter);

  background-color: var(--secondary-bg);
  /* border: 2px solid var(--accent); */
  border-radius: var(--main-br);
  padding-bottom: var(--padding);
}

.card__img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.card > * {
  padding-inline: var(--padding);
}

.card a {
  /* color: #635003; */
  display: inline-flex;
  font-weight: 600;
}

.card button {
  background: var(--main-bg);
}

.card button:hover {
  border: 2px solid var(--accent);
}

.clickable:hover {
  color: var(--accent);
}

.primary__button {
  cursor: pointer;
  padding: 1rem;
  border: 2px var(--border-dk) solid;
  border-radius: var(--main-br);
}

.sr-only {
  display: none;
}

/* Page */
main {
  display: grid;
  gap: 4rem;
}

.content {
  max-width: var(--content-width);
  padding-inline: var(--gutter);
  margin-inline: auto;
}

/* Header */
.nav__links {
  display: flex;
  justify-content: space-between;

  max-width: var(--content-width);
  padding: var(--padding);
  margin-inline: auto;

  letter-spacing: 0.4em;
  text-transform: uppercase;
  font-weight: 600;
}

.nav__item {
  all: unset;
}

.nav__item:hover {
  color: var(--accent);
}

.mobile-toggle {
  display: none;
}

@media (max-width: 600px) {
  .nav__links {
    flex-direction: column;
    position: fixed;
    gap: 1rem;
    padding-top: 5rem;
    z-index: 1000;
    background: var(--main-bg);
    width: 100%;

    transform: translateY(-100%);
    transition: transform .5s ease-in-out;
  }

  .nav__links[data-visible="true"] {
    transform: translateY(0);
    transition: transform .5s ease-in-out;
  }
  
  .mobile-toggle {
    position: fixed;
    display: flex;

    justify-content: flex-end;
    width: 100%;
    z-index: 9999;

    cursor: pointer;
  }
  
  .mobile-toggle__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    width: 3rem;
    margin-top: 1rem;
    margin-right: 1rem;
    aspect-ratio: 1;
    z-index: 9999;
  }
  
  .inner__left {
    height: .2rem;
    width: 80%;
    border-radius: var(--main-br);
    background-color: var(--main-text);

    transition: transform .5s ease-in-out;
   
  }
  
  .inner__right {
    height: .2rem;
    width: 80%;
    border-radius: var(--main-br);
    background-color: var(--main-text);

    transition: transform .5s ease-in-out;
  }

  .mobile-toggle[aria-expanded="true"] {

    .inner__left {
      transform: rotate(-45deg) translate(-4px, 4px);
      transition: transform .5s ease-in-out;
    }

    .inner__right {
      transform: rotate(45deg) translate( -4px, -4px);
      transition: transform .5s ease-in-out;
    }
  }
}


/* Hero */
.hero {
  background-color: #e4e2ddcd;
  background-image: url('../images/hero-bg.png');
  background-size: cover;
  background-blend-mode: soft-light;

  display: grid;
  justify-items: center;
}

.hero__logo {
  padding-top: 4rem;
}

.hero__title {
  padding: var(--padding);
  font-size: 4em;
}

/* Intro */
.intro__title span {
  color: var(--accent);
  font-weight: 600;
}

.intro p {
  /* background-color: var(--accent); */
}

/* Why */
.why span {
  color: #977a1c;
  font-weight: 600;
}

/* Offerings */
.offerings__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  gap: var(--gutter);
}

.offerings__esthetics .card__img {
  background-image: url('../images/course1.png');
}

.offerings__master .card__img {
  /* background-color: #fde79e; */
  background-image: url('../images/course2.png');
  /* background-blend-mode: multiply; */
}

/* Footer */
footer {
  background-color: var(--secondary-bg);
}

.footer__inner {
  display: flex;
  flex-wrap: wrap;
  max-width: var(--content-width);
  justify-content: space-between;
  align-items: center;
  margin-top: 8rem;
  margin-inline: auto;
  padding: var(--padding);

  font-weight: 500;
  font-size: 1em;
}

.footer__email,
.footer__phone {
  text-decoration: underline;
}

.footer__socials {
  display: flex;
  gap: 0.5rem;
}

.socials__button {
  cursor: pointer;
}

.socials__button > * {
  width: 32px;
  height: 32px;
}

.socials__button > *:hover {
  fill: var(--accent);
}
